# Versioning and metadata
.git/
.github/
.gitignore
.dockerignore

# Build dependencies
dist/
node_modules/

# Environment (contains sensitive data)
.env
.env.example

# Files not required for production
.editorconfig
.eslintrc.json
.prettierrc.json
docker-compose.yml
Dockerfile
LICENSE.md
README.md
